/* --↓↓↓↓↓↓--Ajustes generales--↓↓↓↓↓↓--*/

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  background: linear-gradient(to bottom, #000000, #000000);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header {

  border-top: 3px solid #2e64a1;
  background-color: #a1a1a1;
  /* background: radial-gradient(circle farthest-corner at bottom center, #0000e1 0%, #000000 50%); */
  padding: 16px 0;
  /*1rem 0*/
  justify-content: space-between;
  display: flex;
  
}
header img {
  max-width:100%;
}

/*
header h1 {
  color: white;
  font-size: 40px;
  font-weight: 3000;
  font-style: italic;
  display: inline-block;
  position: relative;
  bottom: 25px;
  margin-left: 10px;
} desactivo por usando un banner con letra*/



/*---------NAV--------------*/
/*nav{
    background: radial-gradient(circle farthest-corner at bottom center, #00001a 0%, #000000 50%); 
}
*/




/* flecha en la seccion activa  */
nav ul li a.activo {
  position: relative;
}

/* Estilo para la flecha*/
nav ul li a.activo::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid black;
  border-bottom: 8px solid transparent;
  transform: translateY(-50%);
}

/* fin de flecha en la seccion activa */



/*---------FIN DEL NAV--------------*/


footer {
  background-color: #242424;
  clear: both;
  color: #a5a5a5;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
  
}

.banner {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 0 50%;
}

h2 {
  color: #2e64a1;
  font-weight: 400;
}


/* --↑↑↑↑↑↑--Ajustes generales--↑↑↑↑↑↑--*/


/* --↓↓↓↓↓↓--Home--↓↓↓↓↓↓--*/

.columnas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bienvenidos {
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

.testimonios {
  width: 100%;
  margin-top: 20px;
}


@media (min-width: 768px) {
  .bienvenidos {
    width: 75%;
  }

  .testimonios {
    width: 25%;
    margin-top: 0;
  }
}

article p {
  font-size: 18px;
}

.testimonio {
  background-color: #242424;
  padding: 16px;
}

.testimonio .cita {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  display: block;
}

.testimonio .autor {
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 10px;
}


/*
tamaño del carrusel*/
#carouselExampleCaptions img{
  width: 100%;
  max-height: 350px;
  object-fit:cover;  
}
/*letras dentro del carrusel*/

#carouselExampleCaptions .carousel-caption h5 {
  
  color:  #ffffff;
  font-size: 30px; 
   /*text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;  utilizo directamente el color blanco en lugar de este borde blanco*/
  
}

#carouselExampleCaptions .carousel-caption p {

  color: #ffffff;
  font-size: 17px;
  /*text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;  utilizo directamente el color blanco en lugar de este borde blanco*/

}
/* sombreado detras de las letras*/
.carousel-caption.d-none.d-md-block {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 10px; 
}

/*fin de letras dentro del carrusel*/

/* --↑↑↑↑↑↑--Home--↑↑↑↑↑↑--*/

/* --↓↓↓↓↓↓--Nosotros--↓↓↓↓↓↓--*/
.historia p {
  font-size: 14px;
}

.personas {
  display: flex;
  justify-content: space-between;
}

.persona {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 18%;
  text-align: center;
  padding: 13px;
  box-sizing: border-box;
}

.persona img {
  border-radius: 50%;
  max-width: 70%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

.persona h5,
.persona h6 {
  margin: 0;
  font-weight: normal;
  color: #2e64a1;
}

.persona h5 {
  font-size: 15px;
  margin-top: 5px;
}

.persona h6 {
  font-size: 12px;
  font-style: italic;
}

.persona p {
  color: #666;
  font-size: 11px;
}

/* --↑↑↑↑↑↑--Nosotros--↑↑↑↑↑↑--*/

/* --↓↓↓↓↓↓--Guías--↓↓↓↓↓↓--*/
.servicio {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  margin: 16px 0;
  display: flex;
  gap: 32px;
  align-items: center;
}

.servicio .info h4 {
  color: #2e64a1;
  font-weight: 500;
  font-style: italic;
  border-bottom: 1px solid #2e64a1;
  padding-bottom: 10px;
}

.servicio .info p {
  font-size: 13px;
  /* line-height: 19px; */
}

.servicio img {
  width: 225px;
  height: 150px;
  object-fit: cover;

  border-radius: 13px;

}

.servicio:nth-child(even) {
  flex-direction: row-reverse;
}


/* --↑↑↑↑↑↑--Guías--↑↑↑↑↑↑--*/




/* --↓↓↓↓↓↓--Galeria--↓↓↓↓↓↓--*/
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(250px,
        1fr));
  gap: 16px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; */
}

.galeria img {
  width: 100%;
  height: 250px;
  border: 1px solid #ddd;
  padding: 0.3em;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
  /* margin-bottom: 20px;
  margin-right: 2%; */
}


/* Estilo para el exhibidor */
.exhibidor {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Fondo semitransparente */
  z-index: 1000;
  /* Coloca el modal por encima de todo */
  justify-content: center;
  align-items: center;
}

/* Estilo para la imagen del exhibidor */
.exhibidor img {
  max-width: 90%;
  /* Tamaño máximo de la imagen */
  max-height: 90vh;
  /* Tamaño máximo de la imagen */
  cursor: pointer;
}

/* Estilo para el botón de cerrar del exhibidor */
.boton-cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 36px;
  cursor: pointer;
}


/* --↑↑↑↑↑↑--Galeria--↑↑↑↑↑↑--*/


/* --↓↓↓↓↓↓--Contacto--↓↓↓↓↓↓--*/
.contacto {
  display: flex;
  gap: 24px;
}

.contacto div {
  width: 100%;
}


.datos p {
  font-size: 14px;
}

.datos ul li {
  font-size: 13px;
}

.formulario p {
  display: flex;
}

.formulario p label {
  min-width: 80px;
  display: flex;
  align-items: center;
}

.formulario p input,
.formulario p textarea {
  width: 65%;
}

.formulario p input,
.formulario p textarea {
  background: #ddd;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 14px;
  padding: 6px 10px;
}

.formulario p:nth-child(4) {
  align-items: start;
}

.formulario textarea {
  resize: none;
  height: 150px;

}

.formulario input[type="submit"] {
  background: #6da9ed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 16px;
  padding: 6px 20px;
  width: auto;
  position: relative;
  left: 5rem;
  cursor: pointer;
}

.formulario input[type="submit"]:hover {
  background-color: #2e64a1;
}

/* --↑↑↑↑↑↑--Contacto--↑↑↑↑↑↑--*/



/*menu hamburguesa*/
#menuToggle
{

  max-width: fit-content;
  display: block;
  position: relative;
  top: 2.5px;
  left: 50px;

  z-index: 10;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #2e64a1;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  border-color: #000000;
  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  margin: -70px 0 0 -50px;
  padding: 40px;
  padding-top: 80px;
  /* width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px; tamaño extragrande */

  background: #a1a1a1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;


  transform-origin: 0% 0%;
  transform: translate(-1000%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  opacity: 1;
}


#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
  transform: none;
}


.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}


/*popups redes*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


.wrapper {
  position: relative;
  z-index: 1;
  display: inline-flex;
  list-style: none;

  
}



.wrapper .icon {
  
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.fab{
  color: #000000;
}

/*fin popup redes*/